<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/style.css">
    <title>About</title>
</head>
<body>
    <div>

    {{>header}}
    <p>NodeJs weather app, it uses weather stack api to fetch weather and it has query limit of 250</p>
    <p>created by {{name}}</p>
    {{>footer}}
    </div>
</body>
</html>