<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>weather app</title>
  </head>

  <body>
    <div>

    {{>header}}
    <h2>Provide a city to fetch weather</h2>
    <p>the current weather of</p>
    {{>footer}}
  <script  src="/js/index.js"></script>
    </div>
  </body>

</html>